<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camhelp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoko"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SetupColorChangeActivity"
            android:label="@string/title_activity_setup_color_change"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MineCenterActivity"
            android:label="@string/title_activity_mine_center"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activity.MinePublishedActivity"
            android:label="@string/title_activity_mine_published"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MineCollectionActivity"
            android:label="@string/title_activity_mine_collection"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MineFocusActivity"
            android:label="@string/title_activity_mine_focus"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SetupFeedbackActivity"
            android:label="@string/title_activity_setup_feedback"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishClubActivity"
            android:label="@string/title_activity_publish_club"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishProblemActivity"
            android:label="@string/title_activity_publish_problem"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishLoseActivity"
            android:label="@string/title_activity_publish_lose"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishPickupActivity"
            android:label="@string/title_activity_publish_pickup"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishRepairActivity"
            android:label="@string/title_activity_publish_repair"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PublishElectricityActivity"
            android:label="@string/title_activity_publish_electricity"
            android:theme="@style/AppTheme"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>